@charset "utf-8";

body {
    width: 100%;
}
.midashi {
    font-size: 40px;
    font-weight: 800;
    color: brown;
    text-align: center;
    
}


/* Flexbox練習 */
.inner {
    max-width: 1000px;
    margin: 0 auto;
}
img {
    width: 300px;
    height: auto;
    object-fit: cover;
}
.wrap1 {
    background-color: beige;
    display: flex;
    flex-direction: column;
}
.wrap1__title {
    line-height: 1em;
}
.wrap1__caption {
    line-height: 1em;
}
